svg {
  overflow: visible;
  display: block;
  /* background: #eee; */
  width: 100%;
  height: 500px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
}

button {
  width: 200px;
  height: 20px;
  border: 1px solid black;
  margin: 0 auto 5px;
}

button:hover {
  background-color: #eee;
  cursor: pointer;
  margin-top: 10px;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  width: 50%;
  align-self: center;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 10%;
  margin: 10px; 
}


@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
    margin: .3rem;
  }

  h2 {
    font-size: 1rem;
    margin: .4rem;
  }

  .container {
    width: 95%;
    align-self: center;
    margin-top: .5rem;
  }

  .options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: 15px; 
  }
  
}

footer {
  margin-top: 30px;
  font-size: .7rem;
}

