svg {
  overflow: visible;
  display: block;
  /* background: #eee; */
  width: 100%;
  height: 500px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
}

button {
  width: 100px;
  border: 1px solid black;
  margin: 0 auto 5px;
}

button:hover {
  background-color: #eee;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 50%;
  align-self: center;
}
